body,
html {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 100px 1fr;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}

.nav {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 15px;
}

.nav .user-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
    gap: 15px;
}

.nav .site-search {
    width: 80%;
}

.control {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 15px;
}

.control .left-control {}

.control .right-control {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.left-bar {
    display: grid;
    background-color: grey;
    grid-row: 1 / 3;
    color: white;
    align-content: start;
    gap: 30px;
    padding: 15px;
    font-weight: bold;
}

button {
    border: 0px solid black;
    border-radius: 15px;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: bisque;
}

.projects {
    background-color: bisque;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 15px
}

.project-cards .card {
    background-color: white;
}

.right-bar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding: 15px;
}

.right-bar>div {
    background-color: white;
    padding: 15px;
}